<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6hrSN9bpGOZdn_BRRbZtu8hdVOFXYOZw</string>
	<key>GCM_SENDER_ID</key>
	<string>195869521790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roomyAi</string>
	<key>PROJECT_ID</key>
	<string>roomy-ai-23077</string>
	<key>STORAGE_BUCKET</key>
	<string>roomy-ai-23077.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195869521790:ios:9dbc24be2b254726eae52f</string>
</dict>
</plist>