gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

android/app/google-services.json
ios/Runner/GoogleService-Info.plist

service-account.json
firebase-adminsdk-*.json
*.pem